.admin-dashboard-container {
  text-align: center;
  background: #f4f4f9;
  padding: 50px 20px; /* Padding para pantallas grandes */
  width: 100%;
  max-width: 800px;
  margin: 50px auto; /* Espacio arriba y abajo */
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);

  h1 {
    font-size: 2.5rem;
    margin-bottom: 40px;
    color: #333;
  }

  .button-container {
    display: flex;
    flex-direction: column; /* Cambiado a columna para tener filas de botones */
    gap: 20px; /* Espaciado entre las filas */
  }

  .button-row {
    display: flex;
    justify-content: center;
    gap: 20px; /* Espaciado entre los botones en la misma fila */
  }

  .admin-btn {
    background-color: #000;
    color: #fff;
    padding: 15px 30px;
    border-radius: 50px;
    border: none;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);

    &:hover {
      background-color: #444;
    }

    &:active {
      background-color: #222;
    }
  }

  button {
    width: 15rem;
  }

  // Estilo para dispositivos móviles
  @media (max-width: 768px) {
    padding: 50px 15px; /* Ajusta el padding lateral en móviles */
  }
}
